<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Film Info <span *ngIf="film_id">(ID: {{ film_id }})</span></h6>
	</div>
	<div class="card-body" #film_info_card_el>
		<form class="user" [formGroup]="fg_film" (ngSubmit)="onSubmit()">
			<div class="form-group row">
				<div class="col-sm-12 mb-3 mb-sm-0">
					<label class="form-span mx-2">Film title*</label>
					<input type="text" class="form-control form-control-user" formControlName="title" #title_el />
					<div *ngIf="title && title.invalid && (title.dirty || title.touched)" class="help-error">
						Please enter film's title.
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-12 mb-3 mb-sm-0">
					<label class="form-span mx-2">
						Film description (max words 250).
					</label>
					<textarea type="textarea" class="form-control form-control-textarea" formControlName="description"
						maxlength="250" rows="5"></textarea>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Rental rate* (0~99)</label>
					<input type="text" class="form-control form-control-user" formControlName="rental_rate" #rental_rate_el />
					<div *ngIf="rental_rate && rental_rate.invalid && (rental_rate.dirty || rental_rate.touched)">
						<div *ngIf="rental_rate.errors?.['required']" class="help-error">
							Please enter film's rental rate.
						</div>
						<div *ngIf="rental_rate.errors?.['valid_number']" class="help-error">
							Film rental rate should be a number between 0 and 99.
						</div>
					</div>
				</div>
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Rental duration*</label>
					<input type="text" class="form-control form-control-user" formControlName="rental_duration"
						#rental_duration_el />
					<div *ngIf="rental_duration && rental_duration.invalid && (rental_duration.dirty || rental_duration.touched)">
						<div *ngIf="rental_duration.errors?.['required']" class="help-error">Please enter film's rental duration.
						</div>
						<div *ngIf="rental_duration.errors?.['valid_number']" class="help-error">Film rental duration should be
							between 0 and 7.</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Length*</label>
					<input type="text" class="form-control form-control-user" formControlName="length" #length_el />
					<div *ngIf="length && length.invalid && (length.dirty || length.touched)">
						<div *ngIf="length.errors?.['required']" class="help-error">Please enter film's length between 0 and 240.
						</div>
						<div *ngIf="length.errors?.['max']" class="help-error">Film's length should be less than 250 mintues.</div>
						<div *ngIf="length.errors?.['valid_number']" class="help-error">Please enter a valid number between 0 and
							250.</div>
					</div>
				</div>
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Replacement cost*</label>
					<input type="text" class="form-control form-control-user" formControlName="replacement_cost"
						#replacement_cost_el />
					<div
						*ngIf="replacement_cost && replacement_cost.invalid && (replacement_cost.dirty || replacement_cost.touched)">
						<div *ngIf="replacement_cost.errors?.['required']" class="help-error">
							Please enter film's replacement cost.
						</div>
						<div *ngIf="replacement_cost.errors?.['valid_number']" class="help-error">
							Film replacement cost should be less than 100.
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Rating*</label>
					<select class="form-control form-control-user form-control-select" formControlName="rating">
						<option value=null selected disabled>
							Select a film's rate.</option>
						<option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
					</select>
					<div *ngIf="rating && rating.invalid && (rating.dirty || rating.touched)" class="help-error">
						Please choose film's rating.
					</div>
				</div>
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Release year*</label>
					<select class="form-control form-control-user form-control-select" formControlName="release_year" #year_el>
						<option value="" selected></option>
					</select>
					<div *ngIf="release_year && release_year.invalid && (release_year.dirty || release_year.touched)"
						class="help-error">
						Please choose film's year.
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Category*</label>
					<select class="form-control form-control-user form-control-select" formControlName="categories" #category_el
						multiple="multiple">
						<option value="" selected></option>
					</select>
					<div *ngIf="category && category.invalid && (category.dirty || category.touched)" class="help-error">Please
						choose film's category.</div>
				</div>
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Language*</label>
					<select class="form-control form-control-user form-control-select" #language_el>
						<option value="" selected></option>
					</select>
					<div *ngIf="language && language.invalid && (language.dirty || language.touched)" class="help-error">Please
						choose a language.</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-12 mb-3 mb-sm-0">
					<label class="form-span mx-2">Special features*<br/><span class="small">(multiple features separated by ';')</span></label>
					<textarea type="textarea" class="form-control form-control-textarea" formControlName="special_features"
						maxlength="100" rows="2"></textarea>
					<div
						*ngIf="special_features && special_features.invalid && (special_features.dirty || special_features.touched)">
						<div class="help-error">Please enter film's special features</div>
					</div>
				</div>
			</div>

			<div class="form-group row" *ngIf="!film_id">
				<div class="col-sm-12 mb-3 mb-sm-0">
					<label class="form-span mx-2">Film full text* (up to 150 words.)</label>
					<textarea type="textarea" class="form-control form-control-textarea" formControlName="fulltext"
						maxlength="150" rows="5"></textarea>
					<div *ngIf="fulltext && fulltext.invalid && (fulltext.dirty || fulltext.touched)">
						<div *ngIf="fulltext.errors?.['required']" class="help-error">
							Please enter film's full text.
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row justify-content-between">
				<div class="col">
					<button class="btn btn-primary btn-user btn-block" type="submit">Save</button>
				</div>
				<div class="col">
					<button class="btn btn-secondary btn-user btn-block" type="button" (click)="onReset()">Reset</button>
				</div>
			</div>
		</form>
	</div>
</div>