<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Stores
		<a class="btn btn-primary" type="button" [routerLink]="['/inventory/store/create']">
			<i class="fas fa-plus"></i>
		</a>
	</h1>
</div>

<div class="row">
	<div class="col-12 mb-4">
	</div>

	<div class="col-12 mb-4">
		<div class="card shadow">
			<div class="card-header">
				Store List
			</div>
			<div class="card-body">
				<div class="datatable">
					<table #tbl_stores class="display"></table>
				</div>
			</div>
		</div>

	</div>
</div>