<div class="card shadow mb-4" #card_manager_el>
	<div class="card-header py-3 d-flex flex-row align-item-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary">Store Manager <span class="text-gray-600" *ngIf="manager_ety?.deleted_date">(Inactive)</span></h6>
	</div>

	<div class="card-body">
		<form class="user" [formGroup]="fg_manager" (ngSubmit)="onSubmit()">
			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">First name*</label>
					<input type="text" class="form-control form-control-user" formControlName="first_name" />
					<div *ngIf="first_name && first_name.invalid && (first_name.dirty || first_name.touched)">
						<div class="help-error" *ngIf="first_name.errors?.['required']">
							Please enter manager's first name.
						</div>
					</div>
				</div>
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Last name*</label>
					<input type="text" class="form-control form-control-user" formControlName="last_name" />
					<div *ngIf="last_name && last_name.invalid && (last_name.dirty || last_name.touched)">
						<div *ngIf="last_name.errors?.['required']" class="help-error">
							Please enter manager's last name.
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Email*</label>
					<input class="form-control form-control-user" formControlName="email" />
					<div *ngIf="email && email.invalid && (email.dirty || email.touched)">
						<div *ngIf="email.errors?.['required']" class="help-error">
							Please enter manager's email.
						</div>
						<div *ngIf="email.errors?.['email']" class="help-error">
							Please enter a valid email.
						</div>
					</div>
				</div>
			</div>

			<hr />
			<div class="form-group row justify-content-between">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<button class="btn btn-primary btn-user btn-block" type="submit">Save</button>
				</div>
				<div class="col-sm-6 mb-3 mb-sm-0">
					<button class="btn btn-secondary btn-user btn-block" type="button" (click)="onReset()">Reset</button>
				</div>
			</div>
		</form>
	</div>
</div>