<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">
		<a class="btn btn-primary" type="button" [routerLink]="['/inventory/film']">
			<i class="fas fa-arrow-circle-left"></i>
		</a>&nbsp;
		<span *ngIf="!film_id">New Film</span>
		<span *ngIf="film_id">Edit Film</span>
	</h1>
</div>

<div class="row">
	<div class="col-lg-6">
		<app-new-film-info [film_id]="film_id"></app-new-film-info>
	</div>
	<div class="col-lg-6" *ngIf="film_id">
		<app-new-film-actors [film_id]="film_id"></app-new-film-actors>
	</div>
</div>