<div class="card shadow mb-4" #card_address_el>
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary">Store Address</h6>
		<div class="dropdown no-arrow">
			<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
				<div class="dropdown-header">Didn't find country/city?</div>
				<button class="dropdown-item" data-toggle="modal" data-target="#countryModal" (click)="onShowCountryModal()">Add
					new country</button>
				<!-- <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a> -->
			</div>
		</div>
	</div>
	<div class="card-body">
		<form class="user" [formGroup]="fg_address" (ngSubmit)="onSubmit()">
			<div class="form-group row">
				<div class="col-sm-12 mb-3 mb-sm-0">
					<label class="form-span mx-2">Address*</label>
					<input type="text" class="form-control form-control-user" formControlName="address" />
					<div *ngIf="address && address.invalid && (address.dirty || address.touched)">
						<div *ngIf="address.errors?.['required']" class="help-error">Please enter store's address.</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-12 mb-3 mb-sm-0">
					<label class="form-span mx-2">Address 2</label>
					<input type="text" class="form-control form-control-user" formControlName="address2" />
					<div *ngIf="address2 && address2.invalid && (address2.dirty || address2.touched)">
						<div *ngIf="address2.errors?.['maxLength']" class="help-error">Address 2 is no more than 20 words.</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">District*</label>
					<input type="text" class="form-control form-control-user" formControlName="district" />
					<div *ngIf="district && district.invalid && (district.dirty || district.touched)">
						<div class="help-error" *ngIf="district.errors?.['required']">
							Please enter store's district.
						</div>
					</div>
				</div>
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Postal code*</label>
					<input type="text" class="form-control form-control-user" formControlName="postal_code" #postcode_el />
					<div *ngIf="postcode && postcode.invalid && (postcode.dirty || postcode.touched)">
						<div class="help-error" *ngIf="postcode.errors?.['required']">
							Please enter store's postal code.
						</div>
						<div class="help-error" *ngIf="postcode.errors?.['valid_postalcode']">Please enter a valid postal code.</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Phone number*</label>
					<input type="text" class="form-control form-control-user" formControlName="phone" #phone_el/>
					<div *ngIf="phone && phone.invalid && (phone.dirty || phone.touched)">
						<div class="help-error" *ngIf="phone.errors?.['required']">
							Please enter phone number.
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">Country*</label>
					<select class="form-control form-control-user form-control-select" formControlName="country_id" #country_el>
					</select>
					<div *ngIf="country && country.invalid && (country.dirty || country.touched)">
						<div class="help-error" *ngIf="country.errors?.['required']">Please choose the store's country.</div>
					</div>
				</div>
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label class="form-span mx-2">City*</label>
					<select class="form-control form-control-user form-control-select" formControlName="city_id" #city_el>
					</select>
					<div *ngIf="city && city.invalid && (city.dirty || city.touched)">
						<div class="help-error" *ngIf="city.errors?.['required']">Please choose the store's city.</div>
					</div>
				</div>
			</div>

			<hr />
			<div class="form-group row justify-content-between">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<button class="btn btn-primary btn-user btn-block" type="submit">Save</button>
				</div>

				<div class="col-sm-6 mb-3 mb-sm-0">
					<button class="btn btn-secondary btn-user btn-block" type="button" (click)="onReset()">Reset</button>
				</div>
			</div>
		</form>
	</div>
</div>

<app-new-country *ngIf="showCountryModal" (evt_reloadCountry)="onReloadCountry($event)" (evt_closeModal)="onCloseCountryModal($event)"></app-new-country>