<div class="card mb-4">
	<div class="card-header">
		Film Actors
	</div>
	<div class="card-body">
		<!-------||Searching existed actors||------>
		<form class="form-inline mr-auto w-100 navbar-search mb-3" [formGroup]="fg_searchActors"
			(ngSubmit)="searchActors()">
			<div class="input-group">
				<input type="text" class="form-control bg-light border-0 small" placeholder="Search for actor..."
					aria-label="Search" aria-describedby="basic-addon2" name="searching_text" formControlName="searching_text">
				<div class="input-group-append">
					<button class="btn btn-primary" type="submit">
						<i class="fas fa-search fa-sm"></i>
					</button>
				</div>
			</div>
		</form>
		<table #actors_table class="display"></table>
		<hr />

		<!------||Adding new actors||----->
		<form class="user" [formGroup]="fg_formModel" (ngSubmit)="saveActors()">
			<div class="row mb-3">
				<div class="col-5">
					<button type="button" class="btn btn-primary btn-user btn-block" (click)="addActor()">New Actor</button>
				</div>
			</div>

			<div formArrayName="actors">
				<div *ngFor="let actor of getActorControls(); let i=index">
					<div class="form-group row mb-3" [formGroupName]="i">
						<div class="col-sm-5 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" placeholder="Actor's first name"
								formControlName="first_name" />
								<div class="help-error"
								*ngIf="actor.get('first_name') && actor.get('first_name')?.invalid &&(actor.get('first_name')?.dirty || actor.get('first_name')?.touched)">
								Please enter actor's first name.
							</div>
						</div>
						<div class="col-sm-5 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" placeholder="Actor's last name"
								formControlName="last_name" />
							<div class="help-error"
								*ngIf="actor.get('last_name') && actor.get('last_name')?.invalid &&(actor.get('last_name')?.dirty || actor.get('last_name')?.touched)">
								Please enter actor's last name.
							</div>
						</div>
						<div class="col-sm-2 mt-1 mb-3 mb-sm-0">
							<button class="btn btn-danger btn-circle" (click)="removeActor(i)"><i class="fas fa-trash"></i></button>
						</div>
					</div>
				</div>
			</div>
			<hr />

			<!-------||Save actors||------>
			<div class="form-group row mb-3">
				<div class="col">
					<button class="btn btn-success btn-user btn-block" type="submit">Save</button>
				</div>
				<div class="col">
					<button class="btn btn-secondary btn-user btn-block" type="reset">Reset</button>
				</div>
			</div>
		</form>
	</div>
</div>